@import './variables';

.layout {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    min-width: 0;

    &.row {
        flex-direction: row;

        &.reverse {
            flex-direction: row-reverse;
        }
    }

    &.column {
        flex-direction: column;

        &.reverse {
            flex-direction: column-reverse;
        }
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

.flex {
    flex: 1 1 auto;
    max-width: 100%;

    @each $size, $width in $grids {

        @media only screen and (min-width: #{$width}px) {

            @for $i from 1 through 12 {
                &.#{$size}#{$i} {
                    flex-basis: percentage($i / 12);
                    flex-grow: 0;
                    max-width: percentage($i / 12);
                }
            }
        }
    }
}

.flex-fix {
  flex: 1 0 auto !important;
}

.flex-expand {
  flex: 99999 1 auto !important;
}

.flex-list-container {
  width: initial !important;
  box-sizing: content-box !important;
  margin-left: 0;
  margin-right: 0;

  @each $level, $ratio in $spaces {
      &.x-#{$level} {
          margin-left: -#{$ratio * $spaceBase}px;
          margin-right: -#{$ratio * $spaceBase}px;
      }
  }
}

.spacer {
    flex-grow: 1 !important;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}
