.relative {
    position: relative;
}

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed;
}

.absolute,
.fixed {
    &.center-x {
        left: 50%;
        transform: translateX(-50%);
    }

    &.center-y {
        top: 50%;
        transform: translateY(-50%);
    }

    &.center-xy {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.full {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &.right {
        right: 0;
    }

    &.bottom {
        bottom: 0;
    }

    &.left {
        left: 0;
    }

    &.top {
        top: 0;
    }
}
