@for $i from 1 through 24 {
    .r-#{$i} {
        border-radius: #{$i}px;
    }
}

.r-full {
    border-radius: 50%;
}

.r-top {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.r-bottom {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.r-left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.r-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.r-top-left {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.r-top-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.r-bottom-right {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.r-bottom-left {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
