@import './variables';

.ma-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

@each $level, $ratio in $spaces {
    .ma-#{$level} {
        margin-top: #{$ratio * $spaceBase}rem !important;
        margin-bottom: #{$ratio * $spaceBase}rem !important;
        margin-left: #{$ratio * $spaceBase}rem !important;
        margin-right: #{$ratio * $spaceBase}rem !important;
    }

    .my-#{$level} {
        margin-top: #{$ratio * $spaceBase}rem !important;
        margin-bottom: #{$ratio * $spaceBase}rem !important;
    }

    .mx-#{$level} {
        margin-left: #{$ratio * $spaceBase}rem !important;
        margin-right: #{$ratio * $spaceBase}rem !important;
    }

    .mt-#{$level} {
        margin-top: #{$ratio * $spaceBase}rem !important;
    }

    .mb-#{$level} {
        margin-bottom: #{$ratio * $spaceBase}rem !important;
    }

    .ml-#{$level} {
        margin-left: #{$ratio * $spaceBase}rem !important;
    }

    .mr-#{$level} {
        margin-right: #{$ratio * $spaceBase}rem !important;
    }

    .pa-#{$level} {
        padding-top: #{$ratio * $spaceBase}rem !important;
        padding-bottom: #{$ratio * $spaceBase}rem !important;
        padding-left: #{$ratio * $spaceBase}rem !important;
        padding-right: #{$ratio * $spaceBase}rem !important;
    }

    .py-#{$level} {
        padding-top: #{$ratio * $spaceBase}rem !important;
        padding-bottom: #{$ratio * $spaceBase}rem !important;
    }

    .px-#{$level} {
        padding-left: #{$ratio * $spaceBase}rem !important;
        padding-right: #{$ratio * $spaceBase}rem !important;
    }

    .pt-#{$level} {
        padding-top: #{$ratio * $spaceBase}rem !important;
    }

    .pb-#{$level} {
        padding-bottom: #{$ratio * $spaceBase}rem !important;
    }

    .pl-#{$level} {
        padding-left: #{$ratio * $spaceBase}rem !important;
    }

    .pr-#{$level} {
        padding-right: #{$ratio * $spaceBase}rem !important;
    }
}
