@import './variables';

@each $size, $width in $grids {

    @media only screen and (min-width: #{$width}px) {

        .text-#{$size}-center {
            text-align: center;
        }

        .text-#{$size}-start {
            text-align: start;
        }

        .text-#{$size}-end {
            text-align: end;
        }
    }
}

@each $fontSize, $ratio in $fontSizes {
    .text-#{$fontSize} {
        font-size: #{$ratio}rem;
    }
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalized {
    text-transform: capitalize;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.break-word {
    word-break: break-word;
    word-wrap: break-word;
}
