.transition-slow {
    transition: all 0.6s;
}

.transition-normal {
    transition: all 0.3s;
}

.transition-fast {
    transition: all 0.125s;
}

global {

    // fade
    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    // slide-top
    .slide-top-enter-active, .slide-top-leave-active {
        transition: transform .3s;
    }
    .slide-top-enter, .slide-top-leave-to {
        transform: translateY(-10%);
    }

    // slide-bottom
    .slide-bottom-enter-active, .slide-bottom-leave-active {
        transition: transform .3s;
    }
    .slide-bottom-enter, .slide-bottom-leave-to {
        transform: translateY(10%);
    }

    // slide-left
    .slide-left-enter-active, .slide-left-leave-active {
        transition: transform .3s;
    }
    .slide-left-enter, .slide-left-leave-to {
        transform: translateX(-10%);
    }

    // slide-right
    .slide-right-enter-active, .slide-right-leave-active {
        transition: transform .3s;
    }
    .slide-right-enter, .slide-right-leave-to {
        transform: translateX(10%);
    }

    // fade-slide-top
    .fade-slide-top-enter-active, .fade-slide-top-leave-active {
        transition: transform .3s, opacity .3s;
    }
    .fade-slide-top-enter, .fade-slide-top-leave-to {
        transform: translateY(-10%);
        opacity: 0;
    }

    // fade-slide-bottom
    .fade-slide-bottom-enter-active, .fade-slide-bottom-leave-active {
        transition: transform .3s, opacity .3s;
    }
    .fade-slide-bottom-enter, .fade-slide-bottom-leave-to {
        transform: translateY(10%);
        opacity: 0;
    }

    // fade-slide-left
    .fade-slide-left-enter-active, .fade-slide-left-leave-active {
        transition: transform .3s, opacity .3s;
    }
    .fade-slide-left-enter, .fade-slide-left-leave-to {
        transform: translateX(-10%);
        opacity: 0;
    }

    // fade-slide-right
    .fade-slide-right-enter-active, .fade-slide-right-leave-active {
        transition: transform .3s, opacity .3s;
    }
    .fade-slide-right-enter, .fade-slide-right-leave-to {
        transform: translateX(10%);
        opacity: 0;
    }

    // full-slide-top
    .full-slide-top-enter-active, .full-slide-top-leave-active {
        transition: transform .3s;
    }
    .full-slide-top-enter, .full-slide-top-leave-to {
        transform: translateY(-100%);
    }

    // full-slide-bottom
    .full-slide-bottom-enter-active, .full-slide-bottom-leave-active {
        transition: transform .3s;
    }
    .full-slide-bottom-enter, .full-slide-bottom-leave-to {
        transform: translateY(100%);
    }

    // full-slide-left
    .full-slide-left-enter-active, .full-slide-left-leave-active {
        transition: transform .3s;
    }
    .full-slide-left-enter, .full-slide-left-leave-to {
        transform: translateX(-100%);
    }

    // full-slide-right
    .full-slide-right-enter-active, .full-slide-right-leave-active {
        transition: transform .3s;
    }
    .full-slide-right-enter, .full-slide-right-leave-to {
        transform: translateX(100%);
    }

    // flip-list
    .flip-list-move {
        transition: transform .125s;
    }

}
