// scss variable here

// system breakpoints
$grids: (
    sm: 0,
    md: 768,
    lg: 990,
);

// system font sizes
$rootFontSizeByGrids: (
    sm: 12,
    md: 14,
    lg: 16,
);

// font rem ratio
$fontSizes: (
    tiny: 0.5,
    small: 0.8,
    normal: 1,
    medium: 1.2,
    large: 1.5,
    mega: 2,
);

// space ratio
$spaceBase: 1;
$spaces: (
    1: 0.5,
    2: 1,
    3: 1.5,
    4: 2,
    5: 4
);

// colors
$foreMainColor: rgb(0, 0, 0);
$foreSecondaryColor: rgb(172, 209, 214);
$inputMainColor: rgb(32, 32, 32);
$backMainColor: rgb(255, 255, 255);
$modalBackColor: rgba(0, 0, 0, 0.3);
$borderColor: rgb(82, 82, 82);
$errorColor: rgb(219, 0, 0);

$fontFamily: "IBM Plex Sans", "Arial", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "蘋果儷中黑", sans-serif;
$contentMinWidth: 320;
$contentMaxWidth: 1280;
