@import "./variables";
@import "./layout";
@import "./spacing";
@import "./rounded";
@import "./elevation";
@import "./transition";
@import "./text";
@import "./position";
@import "./z-index";
@import "./overflow";
@import "./opacity";
@import "./dimension";
@import "./display";
@import "./common";

* {
    box-sizing: border-box;
    font-family: $fontFamily !important;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus {
        outline: none !important;
    }
}

body,
html {
    margin: 0;
    min-width: #{$contentMinWidth}px;
    overflow: auto;

    @each $size, $fontSize in $rootFontSizeByGrids {

        @media only screen and (min-width: #{map-get($grids, $size)}px) {
            font-size: #{$fontSize}px;
        }
    }
}

ul, li {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    font-weight: initial;
}

a {
    color: $foreSecondaryColor;
    text-decoration: none;

    &:hover {
        color: $foreSecondaryColor;
    }
}

.pointer {
    cursor: pointer;
    user-select: none;
}

.modal-back {
    background-color: $modalBackColor;
}
