<template>
    <div class="c-array-input array-input-container relative full-width"
         :class="errorMessages.length ? 'c-array-input--error error' : ''">
        <layout row align-center class="c-array-input__header relative">
            <div class="c-array-input__label array-label relative flex-expand">
                {{fieldOption.label}}
            </div>
            <c-btn class="c-array-input__add-btn mx-2 pa-1 relative flex-fix"
                    @click.native="arrayAdd">
                <fa-icon icon="plus-circle" class="c-array-input__add-icon array-add-icon"></fa-icon>
            </c-btn>
        </layout>
        <div class="c-array-input__content array-content pa-2 relative full-width r-5">
            <c-draggable v-model="model" v-bind="draggableOption" class="relative full-width overflow-x-hidden">
                <transition-group name="flip-list">
                    <layout row align-center class="c-array-input__content-layout mt-1 relative full-width"
                            v-for="(_, i) in model"
                            :key="`array-field-${i}`">
                        <div class="c-array-input__drag drag mx-2 relative flex-fix">
                            <fa-icon icon="grip-vertical" class="c-array-input__drag-icon drag-icon"></fa-icon>
                        </div>
                        <div class="c-array-input__dynamic-field relative flex-expand">
                            <c-dynamic-field :field-option="fieldOption.typeOf"
                                        v-model="model[i]"
                                        @input:object-json="onObjectJsonInput(i, $event)"></c-dynamic-field>
                        </div>
                        <c-btn class="c-array-input__remove-btn mx-2 pa-1 relative flex-fix" @click.native="arrayRemove(i)">
                            <fa-icon icon="minus-circle" class="c-array-input__remove-icon array-remove-icon"></fa-icon>
                        </c-btn>
                    </layout>
                </transition-group>
            </c-draggable>
        </div>
        <transition name="fade-slide-top">
            <div class="c-select-input__error-messages error-message-hint mt-1 relative flex-expand"
                :class="errorDisplayMode === ErrorDisplayMode.SINGLE_MENU && errorMessages.length > 1 ? 'pointer' : ''"
                @click="onErrorMessageClick"
                v-if="errorMessageHtml"
                v-html="errorMessageHtml">
            </div>
        </transition>
        <div ref="errorMessageMenuContainer"
             class="error-message-menu-container relative">
            <c-menu :attached-to="errorMessageMenuContainer"
                    :offset-y="10"
                    :expand-direction="Direction.RIGHT"
                    transition="fade-slide-top"
                    v-model="showErrorMenu"
                    v-if="errorMessageMenuContainer">
                <ul class="c-select-input__error-message-menu error-menu pa-1 relative r-3">
                    <li class="c-select-input__error-message error"
                        v-for="(msg, i) in errorMessages"
                        :key="`err-msg-${i}`">
                        {{msg}}
                    </li>
                </ul>
            </c-menu>
        </div>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Watch, Ref} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import {DynamicFieldType, FieldOption, ParsedArrayFieldOption, ParsedFieldOption} from '@/types/components/DynamicField';
    import { Direction } from '@/enums/Direction';
    import IsString from '@/typeguards/IsString';
    import {ErrorDisplayMode} from '@/types/components/Input';

    @Component({
        name: 'ArrayInput',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        components: {
            CDynamicField: () => import('@/components/DynamicField.vue'),
            CBtn: () => import('@/components/Btn.vue'),
            CMenu: () => import('@/components/Menu.vue'),
            CDraggable: () => import('vuedraggable'),
        },
        computed: {
            ...mapState({

            }),
            ...mapGetters({

            })
        }
    })
    export default class ArrayInput extends Vue {

        ErrorDisplayMode: typeof ErrorDisplayMode = ErrorDisplayMode;
        Direction: typeof Direction = Direction;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: Object, required: true, validator: i => i.type === DynamicFieldType.ARRAY})
        readonly fieldOption!: ParsedArrayFieldOption;
        @Prop({type: Array, required: true})
        readonly value!: any[];
        @Prop({type: String, default: () => ErrorDisplayMode.SINGLE_MENU})
        readonly errorDisplayMode!: ErrorDisplayMode;
        @Ref('errorMessageMenuContainer')
        readonly errorMessageMenuContainer?: HTMLDivElement;

        model: any[] = [];
        modelJson: string = '';
        showErrorMenu: boolean = false;
        errorMessages: string[] = [];
        validatable: boolean = true;

        get draggableOption(): ExtendableObject {
            return {
                handle: `.${this.$style.drag}`,
                animation: 125,
                direction: 'vertical',
                'scroll-sensitivity': 500,
                'scroll-speed': 20,
                'bubble-scroll': true,
            }
        }

        get errorMessageHtml() {
            let errorDisplayMode = this.errorDisplayMode;
            let errorMessages = this.errorMessages;
            switch(errorDisplayMode) {
                case ErrorDisplayMode.HIDE:
                    return '';
                case ErrorDisplayMode.SINGLE_MENU:
                    if(this.$options.filters) {
                        return this.$options.filters.nl2br(errorMessages.slice(0, 1)) + (errorMessages.length - 1 > 0 ? ` (+${errorMessages.length - 1} ${this.$t('problem')})` : '');
                    }
                case ErrorDisplayMode.ALL:
                    if(this.$options.filters) {
                        return this.$options.filters.nl2br(errorMessages.join('\n'));
                    }
                default:
                    return '';
            }
        }

        arrayAdd(): void {
            if(this.fieldOption.initFn) {
                this.model.push(this.fieldOption.initFn());
            }else{
                let initField = (fieldOption: ParsedFieldOption): any => {
                    switch(fieldOption.type) {
                        case DynamicFieldType.ARRAY:
                            return [];
                        case DynamicFieldType.CUSTOM:
                            let obj: ExtendableObject = {};
                            fieldOption.children.forEach(c => {
                                if(c._name) {
                                    obj[c._name] = initField(c);
                                }
                            })
                            return obj;
                        default:
                            return '';
                    }
                }
                this.model.push(initField(this.fieldOption.typeOf))
            }
        }

        arrayRemove(i: number): void {
            this.model.splice(i, 1);
        }

        onObjectJsonInput(fieldIndex: number, value: any) {
            this.$set(this.model, fieldIndex, value);
        }

        validate(): boolean {
            if(this.fieldOption.rules) {
                this.errorMessages = this.fieldOption.rules.map(r => r(this.model)).filter<string>(IsString);
                let hasError = this.errorMessages.length;
                if(hasError) {
                    this.$emit('error', this.errorMessages);
                }
                return !hasError;
            }
            return true;
        }

        onErrorMessageClick(): void {
            if(this.errorDisplayMode !== ErrorDisplayMode.SINGLE_MENU || this.errorMessages.length <= 1) return;
            this.showErrorMenu = true;
        }

        updateModel(): void {
            this.model = [...this.value];
        }

        @Watch('value')
        onValueUpdate() {
            this.updateModel();
        }

        @Watch('model', {deep: true})
        onModelUpdate(val: any) {
            this.modelJson = JSON.stringify(val);
        }

        @Watch('modelJson')
        onModelJsonUpdate(val: string) {
            this.$emit('input', this.model);
            this.validate();
        }

        mounted(): void {
            this.updateModel();
        }

    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin ArrayInput($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .array-label {
            font-size: fontSizeRem('normal');
            line-height: 1.2;
            color: $foreMainColor;
        }

        .array-add-icon {
            font-size: fontSizeRem('normal');
            line-height: 1.2;
            color: $foreSecondaryColor;
        }

        .array-content {
            border: 1px solid $foreMainColor;

            .drag {
                cursor: move;
                user-select: none;

                .drag-icon {
                    font-size: fontSizeRem('normal');
                    line-height: 1.2;
                    color: $foreMainColor;
                }
            }

            .array-remove-icon {
                font-size: fontSizeRem('normal');
                line-height: 1.2;
                color: $foreMainColor;
            }
        }

        .error-message-hint {
            font-size: fontSizeRem('small');
            line-height: 1.2;
            color: $errorColor;
        }

        .error-message-menu-container {
            width: 1px;

            .error-menu {
                border: 1px solid $errorColor;
                font-size: fontSizeRem('small');
                line-height: 1.2;
                color: $errorColor;
            }
        }

        &.error {

            .array-label {
                color: $errorColor;
            }

            .array-content {
                border-color: $errorColor;
            }
        }
    }

    .array-input-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include ArrayInput($width);
            }
        }
    }
</style>
