<template>
    <component :is="link ? 'a' : 'button'"
               :href="link ? to : undefined"
               :target="link ? target : undefined"
               class="c-btn btn-container relative transition-normal pointer">
        <layout row wrap align-center justify-center class="c-btn__content relative" :class="containerClass">
            <slot></slot>
        </layout>
    </component>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    @Component({
        name: 'Btn',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        computed: {
            ...mapState({

            }),
            ...mapGetters({

            })
        }
    })
    export default class Btn extends Vue {

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: Boolean, default: () => false})
        readonly link!: boolean;
        @Prop({type: String, required: false})
        readonly to?: string;
        @Prop({type: String, default: () => ''})
        readonly target!: string;
        @Prop({type: String, default: () => ''})
        readonly containerClass!: string;

    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin Btn($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        display: inline-flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
        color: $foreMainColor;
    }

    .btn-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include Btn($width);
            }
        }
    }
</style>
