<template>
    <div class="dynamic-form-container relative full-width">
        <div v-for="(formTemplate, i) in parsedTemplates"
            :key="`form-template-${i}`"
            class="c-dynamic-form__template relative full-width"
            :data-form-name="formTemplate.name">
            <slot name="form-template-header" :form-template="formTemplate" :index="i">
                <div class="c-dynamic-form__template-header template-header">
                    {{formTemplate.label}}
                </div>
            </slot>
            <transition-group name="fade-slide-right">
                <c-dynamic-field :field-option="field"
                                v-show="!field.hidden"
                                v-model="formValues[field._name]"
                                v-for="(field) in formTemplate.fields"
                                :key="`field-${field.name}`"
                                @input:object-json="onObjectJsonInput(field._name, $event)"
                                class="mt-3"></c-dynamic-field>
            </transition-group>
        </div>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Watch} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import { FormTemplate, ParsedFormTemplate } from '@/types/components/DynamicForm';
    import { FieldOption, DynamicFieldType, ParsedFieldOption } from '@/types/components/DynamicField';
    import * as DynamicFieldHelper from '@/helpers/DynamicFieldHelper';
    import _ from 'lodash';

    @Component({
        name: 'DynamicForm',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        components: {
            CDynamicField: () => import('@/components/DynamicField.vue'),
        },
        computed: {
            ...mapState({

            }),
            ...mapGetters({

            })
        }
    })
    export default class DynamicForm extends Vue {

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: Array, required: true})
        readonly formTemplates!: FormTemplate[];
        @Prop({type: Function})
        readonly customParseFunction?: (field: FieldOption) => void;
        @Prop({type: Function})
        readonly customInitFunction?: (field: FieldOption) => void;

        formValues: ExtendableObject = {};
        formValueJson: string = '';

        get parsedTemplates(): ParsedFormTemplate[] {
            return this.formTemplates.map(template => {
                return {
                    ...template,
                    fields: this.parseTemplate(template.name, template.fields),
                };
            })
        }

        get allFields(): ParsedFieldOption[] {
            // let formTemplates = this.formTemplates,
            //     fields: FieldOption[] = [];
            // formTemplates.forEach(formTemplate => {
            //     let parsed = this.parseTemplate(formTemplate.name, formTemplate.fields);
            //     fields = _.concat(fields, parsed);
            // });
            // return fields;
            let parsedTemplates = this.parsedTemplates,
                fields: ParsedFieldOption[] = [];
            parsedTemplates.forEach(formTemplate => {
                fields = _.concat(fields, DynamicFieldHelper.getAllNestedFields(formTemplate.fields));
            });
            return fields;
        }

        get allFieldName2field(): Dictionary<ParsedFieldOption> {
            let allFields = this.allFields,
                dict: Dictionary<ParsedFieldOption> = {};
            allFields.forEach(field => {
                dict[field.name] = field;
            });
            return dict;
        }

        parseTemplate(templateRootName: string, fields: FieldOption[]): ParsedFieldOption[] {
            return DynamicFieldHelper.parseTemplate(templateRootName, fields, this, 'formValues', this.customParseFunction)
        }

        initFields(field: ParsedFieldOption) {
            return DynamicFieldHelper.initFields(field, this, 'formValues', this.customInitFunction);
        }

        initForm() {
            this.$nextTick(() => {
                this.formValues = Object.assign({});
                if(this.allFields.length) {
                    this.allFields.forEach(f => {
                        this.initFields(f);
                    });
                }
            });
        }

        validate(): boolean {
            let getValidatableChildrenVm = (vm: Vue): Vue[] => {
                let childrenVm: Vue[] = [];
                vm.$children.forEach((c: any) => {
                    if(c.validatable && c.validate) {
                        childrenVm.push(c);
                    }
                    getValidatableChildrenVm(c).forEach(c => {
                        childrenVm.push(c);
                    })
                })
                return childrenVm;
            }
            let validatableVueInstances: Vue[] = getValidatableChildrenVm(this);
            return validatableVueInstances.reduce((flag: boolean, vm: any) => vm.validate(true) && flag, true);
        }

        getFormData(validate: boolean): FormData {
            if(validate) {
                this.validate();
            }
            try {
                return DynamicFieldHelper.getFormDataFromObj(this.formValues, this.allFieldName2field, validate ? this.formTemplates.map(r => r.name) : []);
            }catch(err) {
                console.log(err);
                throw err;
            }
        }

        onObjectJsonInput(fieldName: string, value: any) {
            this.$set(this.formValues, fieldName, value);
        }

        mounted() {
            this.initForm();
        }

        @Watch('formValues', {deep: true})
        onFormValuesUpdate(val: ExtendableObject) {
            // this.formValueJson = JSON.stringify(val);
            this.$emit('input', val);
        }

        // @Watch('formValueJson')
        // onFormValueJsonUpdate(val: string) {
        //     this.$emit('input:object-json', this.formValues);
        // }

    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin DynamicForm($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .template-header {
            font-size: fontSizeRem('large');
            line-height: 1.2;
            color: $foreMainColor;
        }
    }

    .dynamic-form-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include DynamicForm($width);
            }
        }
    }
</style>
