<template>
    <div class="c-dynamic-field dynamic-field-container relative"
         :class="{
             required,
             disabled: fieldOption.disabled,
             'full-width': !singleLine,
             'px-2 flex-expand': singleLine && ![DynamicFieldType.SEPARATOR].includes(fieldOption.type),
             'flex-fix': singleLine && fieldOption.type === DynamicFieldType.SEPARATOR,
             [`c-dynamic-field--${fieldOption.type}`]: true,
         }"
         :data-fieldname="fieldOption.name">
        <template v-if="[
            DynamicFieldType.STRING,
            DynamicFieldType.INTEGER,
            DynamicFieldType.FLOAT,
            DynamicFieldType.DATE,
            DynamicFieldType.EMAIL,
            DynamicFieldType.PHONE,
            DynamicFieldType.PASSWORD].includes(fieldOption.type)">
            <c-input auto-grow
                     :line="5"
                     :type="fieldOption.type === DynamicFieldType.PASSWORD ? InputType.PASSWORD
                        : fieldOption.multiline ? InputType.TEXTAREA
                        : InputType.TEXT"
                     :counter="fieldOption.size || fieldOption.max || 0"
                     :rules="fieldOption.rules"
                     :label="fieldOption.label"
                     :disabled="fieldOption.disabled"
                     v-model="model"
                     class="c-dynamic-field__input">
            </c-input>
        </template>
        <template v-else-if="fieldOption.type === DynamicFieldType.LIST">
            <c-select-input :options="fieldOption.options"
                            :multiple="fieldOption.multiple"
                            :max="fieldOption.size || fieldOption.max || 0"
                            :rules="fieldOption.rules"
                            :label="fieldOption.label"
                            :single-line="fieldOption.singleLine"
                            :disabled="fieldOption.disabled"
                            v-model="model"
                            class="c-dynamic-field__select-input">
            </c-select-input>
        </template>
        <template v-else-if="fieldOption.type === DynamicFieldType.ARRAY && (model instanceof Array)">
            <c-array-input :field-option="fieldOption"
                            v-model="model"
                            class="mt-1"
                            v-if="(model instanceof Array)">
            </c-array-input>
        </template>
        <template v-else-if="fieldOption.type === DynamicFieldType.CUSTOM && isGridSystemCustomField && typeof(model) === 'object'">
            <div class="relative full-width">
                <div class="c-dynamic-field__label label relative full-width" v-if="fieldOption.label">
                    {{fieldOption.label}}
                </div>
                <div class="c-dynamic-field__custom-content mt-1 relative full-width">
                    <layout row align-start class="relative full-width flex-list-container x-2"
                            v-for="(row, i) in structuredGridSystemCustomFieldChildren"
                            :key="`grid-system-custom-field-row-${i}`">
                        <dynamic-field single-line
                                    :field-option="childField"
                                    v-show="!childField.hidden"
                                    v-model="model[childField._name]"
                                    v-for="(childField, j) in row"
                                    :key="`child-field-${j}`"
                                    @input:object-json="onObjectJsonInput(childField._name, $event)"></dynamic-field>
                    </layout>
                </div>
            </div>
        </template>
        <template v-else-if="fieldOption.type === DynamicFieldType.SEPARATOR">
            <div class="c-dynamic-field__separator-content separator relative">
                {{fieldOption.description}}
            </div>
        </template>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Watch} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import {DynamicFieldType, FieldOption, ParsedFieldOption} from '@/types/components/DynamicField';
    import {InputType} from '@/types/components/Input';

    @Component({
        name: 'DynamicField',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        components: {
            CInput: () => import('@/components/Input.vue'),
            CSelectInput: () => import('@/components/SelectInput.vue'),
            CArrayInput: () => import('@/components/ArrayInput.vue'),
            CBtn: () => import('@/components/Btn.vue'),
        },
        computed: {
            ...mapState({

            }),
            ...mapGetters({

            })
        }
    })
    export default class DynamicField extends Vue {

        DynamicFieldType: typeof DynamicFieldType = DynamicFieldType;
        InputType: typeof InputType = InputType;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: Object, required: true, validator: i => Object.values(DynamicFieldType).includes(i.type)})
        readonly fieldOption!: ParsedFieldOption;
        @Prop({required: true})
        readonly value!: any;
        @Prop({type: Boolean, default: () => false})
        readonly singleLine!: boolean;

        model: any = '';
        modelJson: string = '';

        get required(): boolean {
            let fieldOption = this.fieldOption,
                value = this.value;
            return fieldOption.required || (fieldOption.requiredIfFn && fieldOption.requiredIfFn())!;
        }

        get isGridSystemCustomField(): boolean {
            let fieldOption = this.fieldOption;
            if(fieldOption.type === DynamicFieldType.CUSTOM &&
                fieldOption.children.length) {
                // all children have row and col
                return fieldOption.children.filter(c => c.row).length === fieldOption.children.length;
            }
            return false;
        }

        get structuredGridSystemCustomFieldChildren(): Array<ParsedFieldOption[]> {
            // group by row and sort by col
            let fieldOption = this.fieldOption;
            if(!this.isGridSystemCustomField) return [];
            let rowDict: NumDictionary<ParsedFieldOption[]> = {};
            (fieldOption as any).children.forEach((c: ParsedFieldOption) => {
                if(c.row) {
                    if(!rowDict[c.row]) {
                        rowDict[c.row] = [];
                    }
                    rowDict[c.row].push(c);
                }
            });
            let rows: Array<ParsedFieldOption[]> = [];
            Object.keys(rowDict).map(k => k.toString()).sort((a, b) => parseInt(a)-parseInt(b)).forEach(r => {
                rows.push(rowDict[r].sort((a, b) => a.column! - b.column!));
            });
            return rows;
        }

        onObjectJsonInput(fieldName: string, value: any) {
            this.$set(this.model, fieldName, value);
        }

        updateModel(): void {
            if(this.value !== null && typeof(this.value) === 'object') {
                if(this.value instanceof Array) {
                    this.model = [...this.value];
                }else{
                    this.model = Object.assign({}, this.value);
                }
            }else{
                this.model = this.value;
            }
        }

        @Watch('fieldOption')
        onFieldOptionUpdate() {
            this.updateModel();
        }

        @Watch('value')
        onValueUpdate() {
            this.updateModel();
        }

        @Watch('model', {deep: true})
        onModelUpdate(val: any) {
            if(typeof(this.value) === 'object') {
                this.modelJson = JSON.stringify(val);
            }else{
                this.$emit('input', val);
            }
        }

        @Watch('modelJson')
        onModelJsonUpdate(val: string) {
            this.$emit('input:object-json', this.model);
        }

        mounted(): void {
            this.updateModel();
        }

    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin DynamicField($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .label {
            font-size: fontSizeRem('normal');
            line-height: 1.2;
            color: $foreMainColor;
        }
    }

    .dynamic-field-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include DynamicField($width);
            }
        }
    }
</style>
