<template>
    <div ref="container" class="c-image image-container relative full-width full-height overflow-hidden">
        <div class="absolute full z-0 opacity-0" v-observe-visibility="{callback: onImageReveal}" v-if="lazyLoad"></div>
        <div class="c-image__content main-content relative full-width full-height z-1 transition-normal"
             :class="mainContentClass">
            <component :is="containerType"
                       :title="title"
                       :src="containerType === ContainerType.IMAGE ? imgSrc : undefined"
                       :style="containerType === ContainerType.DIV ? `background-image: url(${imgSrc})` : undefined"
                       class="c-image__image"
                       :class="`c-image__image--type-${containerType}`"
                       v-on="$listeners">
            </component>
        </div>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Ref, Watch} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import {ContainerType, ContainerMode, InitiateStatus} from '@/types/components/Image';
    const i18n = {
        t(str: string, ...params: any[]): string {
            return str;
        },
    };

    @Component({
        name: 'CustomImage',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        computed: {
            ...mapState({

            }),
            ...mapGetters({

            })
        }
    })
    export default class Image extends Vue {

        ContainerType: typeof ContainerType = ContainerType;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: String, default: () => undefined})
        readonly src?: string;
        @Prop({type: String, default: () => undefined})
        readonly thumb?: string;
        @Prop({type: String, default: () => ContainerType.IMAGE, validator: v => Object.values(ContainerType).includes(v)})
        readonly containerType!: ContainerType;
        @Prop({type: String, default: () => ContainerMode.CONTAIN, validator: v => Object.values(ContainerMode).includes(v)})
        readonly containerMode!: ContainerMode;
        @Prop({type: String, default: () => undefined})
        readonly containerClass?: string;
        @Prop({type: String, default: () => i18n.t('image')})
        readonly title!: string;
        @Prop({type: Boolean, default: () => true})
        readonly lazyLoad!: boolean;
        @Ref('container')
        readonly containerElem!: HTMLElement;

        initiateStatus: InitiateStatus = InitiateStatus.NOT_INITIATED;
        imgSrc: string = '';
        image: HTMLImageElement | null = null;
        revealed: boolean = false;

        get mainContentClass() {
            let {containerClass, containerType, containerMode, initiateStatus} = this;
            if(containerType === ContainerType.DIV && containerMode === ContainerMode.FULL) {
                // not supported, fallback to contain
                containerMode = ContainerMode.CONTAIN;
            }
            return `${containerClass || ''}
            ${containerType}
            ${containerMode}
            ${initiateStatus === InitiateStatus.INITIATED ? 'opacity-full' : 'opacity-0'}
            `
        }

        async init() {
            if(this.initiateStatus === InitiateStatus.INITIATING) return;
            this.initiateStatus = InitiateStatus.INITIATING;
            this.imgSrc = this.thumb || this.src || '';
            await this.loadImage();
            if(!this.image) {
                this.initiateStatus = InitiateStatus.FAILED;
            }else{
                this.initiateStatus = InitiateStatus.INITIATED;
            }
        }

        async loadImage() {
            let {imgSrc} = this;
            try {
                let image = await new Promise<HTMLImageElement>(async (resolve, reject) => {
                    let img = document.createElement('img'),
                        hasDecode = img.decode && img.decode instanceof Function;
                    if(!hasDecode) {
                        img.onload = () => resolve(img);
                        img.onerror = () => reject(new Error('load image error'));
                        img.src = imgSrc;
                    }else{
                        img.src = imgSrc;
                        try {
                            await img.decode();
                            resolve(img);
                        }catch(err) {
                            img = document.createElement('img');
                            img.onload = () => resolve(img);
                            img.onerror = () => reject(new Error('load image error'));
                            img.src = imgSrc;
                        }
                    }
                });
                this.image = image;
            }catch(err) {
                console.log(err);
                this.image = null;
            }
        }

        onImageReveal(revealed) {
            if(!revealed || this.initiateStatus !== InitiateStatus.NOT_INITIATED) return;
            this.revealed = true;
            this.init();
        }

        @Watch('thumb')
        onThumbUpdate() {
            this.initiateStatus = InitiateStatus.NOT_INITIATED;
            this.init();
        }

        @Watch('src')
        onSrcUpdate() {
            if(this.initiateStatus === InitiateStatus.NOT_INITIATED || this.initiateStatus === InitiateStatus.FAILED) this.init();
        }

        mounted() {
            if(!this.lazyLoad) this.init();
        }
    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin Image($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .main-content {

            &.img {

                img {
                    object-position: center center;
                }

                &.contain {

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                &.cover {

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &.full-size {

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &.div {

                & > div {
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                &.contain {

                    & > div {
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                    }
                }

                &.cover {

                    & > div {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                    }
                }
            }
        }
    }

    .image-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include Image($width);
            }
        }
    }
</style>
