<template>
    <div class="c-input input-container relative full-width"
         :class="(showError && errorMessages.length ? 'c-input--error error' : '') +
                 (label ? ' with-label' : '') +
                 (label && (placeholder || model || focus) ? ' c-input--label-active label-active' : '') +
                 (focus ? ' c-input--active' : '') +
                 (disabled ? ' c-input--disabled disabled' : '')">
        <textarea tabindex="-1"
                  key="dummy-textarea"
                  ref="dummyTextarea"
                  :rows="line"
                  :style="dummyStyleInject"
                  v-model="model"
                  v-if="type === InputType.TEXTAREA && autoGrow"
                  class="absolute left top z-0 opacity-0">
        </textarea>
        <transition name="fade">
            <textarea key="key-textarea"
                      ref="input"
                      :rows="line"
                      :placeholder="placeholder"
                      :style="styleInject"
                      :disabled="disabled"
                      v-model="model"
                      @blur="onBlur"
                      @focus="onFocus"
                      v-if="type === InputType.TEXTAREA"
                      class="c-input__textarea relative full-width r-3 z-1">
            </textarea>
            <input key="key-input"
                   ref="input"
                   :type="type"
                   :placeholder="placeholder"
                   :style="styleInject"
                   :disabled="disabled"
                   v-model="model"
                   @blur="onBlur"
                   @focus="onFocus"
                   v-else
                   class="c-input__text relative full-width r-3 z-1"
                   :class="`c-input__text--type-${type}`" />
        </transition>
        <label class="c-input__label absolute left ellipsis transition-normal z-2"
               @click="onLabelClick"
               v-if="label">
               {{label}}
        </label>
        <layout row align-center class="c-input__hint mt-1 relative full-width">
            <div class="c-input__error-messages-container relative flex-expand">
                <transition name="fade-slide-top">
                    <div class="c-input__error-messages error-message-hint relative flex-expand"
                        :class="errorDisplayMode === ErrorDisplayMode.SINGLE_MENU && errorMessages.length > 1 ? 'pointer' : ''"
                        @click="onErrorMessageClick"
                        v-if="showError && errorMessageHtml"
                        v-html="errorMessageHtml">
                    </div>
                </transition>
            </div>
            <transition name="fade-slide-right">
                <div class="c-input__counter counter mx-2 relative flex-fix"
                     v-if="counterString">
                    {{counterString}}
                </div>
            </transition>
        </layout>
        <div ref="errorMessageMenuContainer"
             class="error-message-menu-container relative">
            <c-menu :attached-to="errorMessageMenuContainer"
                    :offset-y="10"
                    :expand-direction="Direction.RIGHT"
                    transition="fade-slide-top"
                    v-model="showErrorMenu"
                    v-if="errorMessageMenuContainer">
                <ul class="c-input__error-message-menu error-menu pa-1 relative r-3">
                    <li class="c-input__error-message error"
                        v-for="(msg, i) in errorMessages"
                        :key="`err-msg-${i}`">
                        {{msg}}
                    </li>
                </ul>
            </c-menu>
        </div>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Watch, Ref} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import {InputType, ErrorDisplayMode} from '@/types/components/Input';
    import ValidationRule from '@/types/ValidationRule';
    import { Direction } from '@/enums/Direction';
    import IsString from '@/typeguards/IsString';
    import _ from 'lodash';

    @Component({
        name: 'Input',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        components: {
            CMenu: () => import('@/components/Menu.vue'),
        },
        computed: {
            ...mapState({

            }),
            ...mapGetters({

            })
        }
    })
    export default class Input extends Vue {

        InputType: typeof InputType = InputType;
        ErrorDisplayMode: typeof ErrorDisplayMode = ErrorDisplayMode;
        Direction: typeof Direction = Direction;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: String, default: () => InputType.TEXT})
        readonly type!: InputType;
        @Prop({type: String, default: () => ''})
        readonly value!: string;
        @Prop({type: Array, default: () => []})
        readonly rules!: ValidationRule[];
        @Prop({type: Boolean, default: () => false})
        readonly validateOnBlur!: boolean;
        @Prop({type: String, default: () => ErrorDisplayMode.SINGLE_MENU})
        readonly errorDisplayMode!: ErrorDisplayMode;
        @Prop({type: String, default: () => ''})
        readonly label!: string;
        @Prop({type: String, default: () => ''})
        readonly placeholder!: string;
        @Prop({type: Boolean, default: () => false})
        readonly autoGrow!: boolean;
        @Prop({type: Number, default: () => 5})
        readonly line!: number;
        @Prop({type: Number, default: () => 0})
        readonly counter!: number;
        @Prop({type: Boolean, default: () => false})
        readonly disabled!: boolean;
        @Ref('input')
        readonly inputElem!: HTMLInputElement | HTMLTextAreaElement;
        @Ref('dummyTextarea')
        readonly dummyTextareaElem?: HTMLTextAreaElement;
        @Ref('errorMessageMenuContainer')
        readonly errorMessageMenuContainer?: HTMLDivElement;

        model: string = '';
        showError: boolean = false;
        focus: boolean = false;
        showErrorMenu: boolean = false;
        errorMessages: string[] = [];
        styleInject: ExtendableObject = {};
        dummyStyleInject: ExtendableObject = {};
        validatable: boolean = true;

        get errorMessageHtml() {
            let errorDisplayMode = this.errorDisplayMode;
            let errorMessages = this.errorMessages;
            switch(errorDisplayMode) {
                case ErrorDisplayMode.HIDE:
                    return '';
                case ErrorDisplayMode.SINGLE_MENU:
                    if(this.$options.filters) {
                        return this.$options.filters.nl2br(errorMessages.slice(0, 1)) + (errorMessages.length - 1 > 0 ? ` (+${errorMessages.length - 1} ${this.$t('problem')})` : '');
                    }
                case ErrorDisplayMode.ALL:
                    if(this.$options.filters) {
                        return this.$options.filters.nl2br(errorMessages.join('\n'));
                    }
                default:
                    return '';
            }
        }

        get counterString(): string {
            let counter = this.counter,
                model = this.model;
            if(!counter) return '';
            return `${model.length}/${counter}`;
        }

        updateStyleInject() {
            let autoGrow = this.autoGrow,
                input = this.inputElem,
                type = this.type,
                line = this.line;
            if(type !== InputType.TEXTAREA || !autoGrow) {
                this.styleInject = {};
                this.dummyStyleInject = {};
                return;
            }
            let clientRect = input.getBoundingClientRect();
            let {lineHeight, paddingTop, paddingBottom, borderTop, borderBottom} = window.getComputedStyle(input);
            let lineHeightNum = parseInt(lineHeight || '0');
            let paddingTopNum = parseInt(paddingTop || '0');
            let paddingBottomNum = parseInt(paddingBottom || '0');
            let borderTopNum = parseInt(borderTop || '0');
            let borderBottomNum = parseInt(borderBottom || '0');
            let {scrollHeight} = input;
            this.styleInject = {
                minHeight: `${lineHeightNum * line + paddingTopNum + paddingBottomNum + borderTopNum + borderBottomNum}px`,
                height: `${scrollHeight + borderTopNum + borderBottomNum}px`,
            };
            this.dummyStyleInject = {
                width: `${clientRect.width}px`,
                minHeight: `${lineHeightNum * line + paddingTopNum + paddingBottomNum + borderTopNum + borderBottomNum}px`,
            }
            this.$nextTick(() => {
                if(this.dummyTextareaElem) {
                    let dummyScrollHeight = this.dummyTextareaElem.scrollHeight;
                    if(scrollHeight > dummyScrollHeight) {
                        this.$set(this.styleInject, 'height', `${dummyScrollHeight + borderTopNum + borderBottomNum}px`);
                    }
                }
            })
        }

        validate(showError: boolean): boolean {
            this.showError = showError;
            this.errorMessages = this.rules.map(r => r(this.model)).filter<string>(IsString);
            let hasError = this.errorMessages.length;
            if(hasError && this.showError) {
                this.$emit('error', this.errorMessages);
            }
            return !hasError;
        }

        updateModel(): void {
            this.model = this.value;
        }

        onLabelClick(): void {
            this.inputElem.focus();
        }

        onFocus(): void {
            this.focus = true;
            this.validate(!this.validateOnBlur);
        }

        onBlur(): void {
            this.focus = false;
            if(this.validateOnBlur) {
                this.validate(true);
            }
        }

        onErrorMessageClick(): void {
            if(this.errorDisplayMode !== ErrorDisplayMode.SINGLE_MENU || this.errorMessages.length <= 1) return;
            this.showErrorMenu = true;
        }

        @Watch('type')
        onTypeUpdate() {
            this.$nextTick(() => this.updateStyleInject());
        }

        @Watch('value')
        onValueUpdate() {
            this.updateModel();
        }

        @Watch('model')
        onModelUpdate(val: any) {
            this.$emit('input', val);
            this.updateStyleInject();
            this.validate(!this.validateOnBlur);
        }

        mounted() {
            this.updateModel();
            this.validate(false);
        }
    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin Input($mediaW) {

        $activeLabelShrinkRatio: 0.8;
        $inputPadding: 4;
        $borderWidth: 2;
        $containerPaddingTop: (map-get($fontSizes, 'medium') * map-get($rootFontSizeByGrids, 'lg')) * 1.2 * $activeLabelShrinkRatio + $borderWidth;

        @if $mediaW < map-get($grids, 'lg') {
            $containerPaddingTop: (map-get($fontSizes, 'medium') * map-get($rootFontSizeByGrids, 'md')) * 1.2 * $activeLabelShrinkRatio + $borderWidth;
        }

        @if $mediaW < map-get($grids, 'md') {
            $containerPaddingTop: (map-get($fontSizes, 'medium') * map-get($rootFontSizeByGrids, 'sm')) * 1.2 * $activeLabelShrinkRatio + $borderWidth;
        }

        input, textarea {
            margin: 0;
            border: #{$borderWidth}px solid transparent;
            font-size: fontSizeRem('normal');
            line-height: 1.2;
            color: $inputMainColor;
            outline: none !important;
            padding: #{$inputPadding}px;
        }

        textarea {
            resize: none;
            overflow: auto;
        }

        .error-message-hint {
            font-size: fontSizeRem('small');
            line-height: 1.2;
            color: $errorColor;
        }

        .error-message-menu-container {
            width: 1px;

            .error-menu {
                border: 1px solid $errorColor;
                font-size: fontSizeRem('small');
                line-height: 1.2;
                color: $errorColor;
            }
        }

        .counter {
            font-size: fontSizeRem('tiny');
            line-height: 1.2;
            color: $foreMainColor;
        }

        &.with-label {

            padding-top: #{$containerPaddingTop}px;

            label {
                font-size: fontSizeRem('normal');
                line-height: 1.2;
                color: $foreMainColor;
                left: #{$inputPadding}px;
                top: #{$inputPadding + $containerPaddingTop + $borderWidth}px;
                width: calc(100% - #{$inputPadding}px);
                transform-origin: top left;
                transform: scale(1);
                cursor: text;
            }

            &.label-active {

                label {
                    top: 0;
                    transform: scale($activeLabelShrinkRatio);
                    width: calc((100% - #{$inputPadding}px) / #{$activeLabelShrinkRatio});
                    cursor: default;
                }
            }
        }

        &.error {

            input, textarea {
                border: #{$borderWidth}px solid $errorColor;
            }

            label {
                color: $errorColor;
            }
        }

        &.disabled {

            input, textarea, label {
                cursor: not-allowed;
            }
        }
    }

    .input-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include Input($width);
            }
        }
    }
</style>
