<template>
    <div class="c-loading loading-container full-width full-height"
         :class="(fixed ? ' fixed top left full' : '') +
                 (model ? ' z-24' : ' z-bottom')">
        <transition name="fade">
            <div class="c-loading__back-cover modal-back absolute full z-22" v-if="model">
                <div class="c-loading__animation loading absolute center-xy" :style="wrapperInjectStyle">
                    <div class="c-loading__animation-dot dot absolute full"
                         :style="dotInjectStyleDict[i]"
                         v-for="(dot, i) in Array.from({length: dots})"
                         :key="`dot-${i}`"></div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Watch} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';

    @Component({
        name: 'Loading',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        computed: {
            ...mapState({

            }),
            ...mapGetters({

            })
        }
    })
    export default class Loading extends Vue {

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: Boolean, default: () => false})
        readonly value!: boolean;
        @Prop({type: Boolean, default: () => false})
        readonly fixed!: boolean;
        @Prop({type: Number, default: () => 10})
        readonly radius!: number;
        @Prop({type: Number, default: () => 3})
        readonly dots!: number;

        model: boolean = false;

        get wrapperInjectStyle(): ExtendableObject {
            return {
                width: `${this.radius * 2}px`,
                height: `${this.radius * 2}px`,
            }
        }

        get dotInjectStyleDict(): NumDictionary<ExtendableObject> {
            let dots = this.dots,
                dict = {};
            Array.from({length: dots}).forEach((d, i) => {
                dict[i] = {
                    transform: `rotate(${(360 / dots) * (i)}deg)`
                }
            });
            return dict;
        }

        updateModel(): void {
            this.model = this.value;
        }

        mounted() {
            this.updateModel();
        }

        @Watch('value')
        onValueUpdate() {
            this.updateModel();
        }

        @Watch('model')
        onModelUpdate(val: boolean) {
            this.$emit('input', val);
        }

    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin Loading($mediaW) {

        $speed: 0.4;

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes bounce {
            from {
                transform: translate(-50%, -100%);
            }

            10% {
                transform: translate(-50%, -150%);
            }

            50% {
                transform: translate(-50%, 50%);
            }

            to {
                transform: translate(-50%, -100%);
            }
        }

        .loading {
            animation-name: spin;
            animation-duration: #{$speed}s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;

            .dot {
                transform-origin: 50% 50%;

                &:after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    border-radius: 50%;
                    background-color: $foreMainColor;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -100%);
                    animation-name: bounce;
                    animation-duration: #{$speed * 2}s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
            }
        }
    }

    .loading-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include Loading($width);
            }
        }
    }
</style>
