<template>
    <div class="c-menu menu-container overflow-hidden" :class="attach ? 'absolute z-6' : 'fixed z-12'" :style="containerStyle">
        <transition :name="transition"
                    @after-enter="animationLeaved = false"
                    @after-leave="animationLeaved = true">
            <div ref="menu" tabindex="-1" class="c-menu__content menu-main relative" v-show="model"
                 @mousedown="onMouseDown"
                 @keyup="$listeners.keyup ? $listeners.keyup($event) : undefined">
                <slot>
                    <div class="placeholder pa-2"></div>
                </slot>
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Watch, Ref} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import {getPath} from '@/lib/EventPathPolyfill';

    import { Direction } from '@/enums/Direction';

    @Component({
        name: 'Menu',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        computed: {
            ...mapState({
                screenWidth: () => StoreManager.root.screenWidth,
                screenHeight: () => StoreManager.root.screenHeight,
            }),
            ...mapGetters({

            })
        },
    })
    export default class Menu extends Vue {

        Direction: typeof Direction = Direction;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: Boolean, default: () => false})
        readonly value!: boolean;
        @Prop({type: HTMLElement, required: true})
        readonly attachedTo!: HTMLElement;
        @Prop({type: Boolean, default: () => false})
        readonly attach!: boolean;
        @Prop({type: Number, default: () => 10})
        readonly edgePadding!: number;
        @Prop({type: Number, default: () => 0})
        readonly maxWidth!: number;
        @Prop({type: Number, default: () => 0})
        readonly maxHeight!: number;
        @Prop({type: Boolean, default: () => false})
        readonly alignWidth!: boolean;
        @Prop({type: Boolean, default: () => false})
        readonly alignHeight!: boolean;
        @Prop({type: Number, default: () => 0})
        readonly offsetX!: number;
        @Prop({type: Number, default: () => 0})
        readonly offsetY!: number;
        @Prop({type: String, default: () => Direction.DOWN})
        readonly expandDirection!: Direction;
        @Prop({type: String, default: () => 'fade'})
        readonly transition!: string;
        @Prop({type: Boolean, default: () => false})
        readonly ignoreBlur!: boolean;
        @Ref('menu')
        readonly menuElem!: HTMLDivElement;

        model: boolean = false;
        animationLeaved: boolean = true;
        menuRect: ClientRect | null = null;
        attachToRect: ClientRect | null = null;
        screenWidth!: number;
        screenHeight!: number;
        lastMouseDownEvent: MouseEvent | null = null;

        get containerStyle(): ExtendableObject {
            let {model, animationLeaved, menuRect, attachToRect, edgePadding, maxWidth, maxHeight, alignWidth, alignHeight, screenWidth, screenHeight, offsetX, offsetY, attach} = this;
            if((!model && animationLeaved) || !menuRect || !attachToRect) return {};
            let parentWidth = attachToRect.width,
                parentHeight = attachToRect.height,
                parentTop = attachToRect.top,
                parentLeft = attachToRect.left,
                menuWidth = menuRect.width,
                menuHeight = menuRect.height,
                menuTop = 0,
                menuLeft = 0;
            if(alignWidth) {
                menuWidth = parentWidth;
            }
            if(alignHeight) {
                menuHeight = parentHeight;
            }
            if(maxWidth && menuWidth > maxWidth) {
                menuWidth = maxWidth;
            }
            if(maxHeight && menuHeight > maxHeight) {
                menuHeight = maxHeight;
            }
            switch(this.expandDirection) {
                case Direction.UP:
                    menuTop = parentTop - menuHeight;
                    menuLeft = parentLeft + ((parentWidth - menuWidth) * 0.5);
                    break;
                case Direction.RIGHT:
                    menuTop = parentTop + ((parentHeight - menuHeight) * 0.5);
                    menuLeft = parentLeft + parentWidth;
                    break;
                case Direction.DOWN:
                    menuTop = parentTop + parentHeight;
                    menuLeft = parentLeft + ((parentWidth - menuWidth) * 0.5);
                    break;
                case Direction.LEFT:
                    menuTop = parentTop + ((parentHeight - menuHeight) * 0.5);
                    menuLeft = parentLeft - menuWidth;
                    break;
                case Direction.TOP:
                    menuTop = parentTop + ((parentHeight - menuHeight) * 0.5);
                    menuLeft = parentLeft + ((parentWidth - menuWidth) * 0.5);
                    break;
            }
            if(menuTop - edgePadding < 0) {
                menuTop = edgePadding;
            }
            if(menuTop + menuHeight + edgePadding > screenHeight) {
                let diff = menuTop + menuHeight + edgePadding - screenHeight,
                    possibleOffset = menuTop - edgePadding;
                if(possibleOffset >= diff) {
                    menuTop -= diff;
                }else{
                    menuTop -= possibleOffset;
                    menuHeight -= diff - possibleOffset;
                }
            }
            if(menuLeft - edgePadding < 0) {
                menuLeft = edgePadding;
            }
            if(menuLeft + menuWidth + edgePadding > screenWidth) {
                let diff = menuLeft + menuWidth + edgePadding - screenWidth,
                    possibleOffset = menuLeft - edgePadding;
                if(possibleOffset >= diff) {
                    menuLeft -= diff;
                }else{
                    menuLeft -= possibleOffset;
                    menuWidth -= diff - possibleOffset;
                }
            }
            if(attach) {
                menuTop -= parentTop;
                menuLeft -= parentLeft;
            }

            return {
                top: `${menuTop + offsetY}px`,
                left: `${menuLeft + offsetX}px`,
                width: `${menuWidth}px`,
                height: `${menuHeight}px`,
            };
        }

        updateMenuPosition(): void {
            this.menuRect = this.menuElem.getBoundingClientRect();
            this.attachToRect = this.attachedTo.getBoundingClientRect();
        }

        updateModel(): void {
            this.model = this.value;
        }

        onBlur(e: FocusEvent): void {
            let eventTime = e.timeStamp,
                lastMouseDownEventTime = this.lastMouseDownEvent ? this.lastMouseDownEvent.timeStamp : 0;
            if(eventTime - lastMouseDownEventTime <= 300) {
                let path = getPath(this.lastMouseDownEvent!);
                if(e.target && path.includes(e.target)) {
                    this.menuElem.focus();
                    return;
                }
            }
            this.$emit('blur', e);
            if(this.ignoreBlur) return;
            window.setTimeout(() => {
                this.model = false;
            }, 100);
        }

        onMouseDown(e: MouseEvent): void {
            this.lastMouseDownEvent = e;
        }

        mounted() {
            this.updateModel();
        }

        @Watch('value')
        onValueUpdate() {
            this.updateModel();
        }

        @Watch('model')
        onModelUpdate(val: boolean) {
            this.$emit('input', val);
            if(val) {
                if(this.menuElem) {
                    this.menuElem.addEventListener('blur', this.onBlur);
                }
                this.$nextTick(() => {
                    this.updateMenuPosition();
                    if(this.menuElem) {
                        this.menuElem.focus();
                    }
                })
            }else{
                if(this.menuElem) {
                    this.menuElem.removeEventListener('blur', this.onBlur)
                }
            }
        }
    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin Menu($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .menu-main {
            background-color: $backMainColor;

            .placeholder {
                background: white;
            }
        }
    }

    .menu-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include Menu($width);
            }
        }
    }
</style>
