<template>
    <div class="c-notify notify-container relative full-width">
        <transition name="fade">
            <div class="c-notify__back-cover modal-back fixed full z-22" v-show="showPopupMessage">
                <div ref="messageContainer" class="c-notify__attach-target msg-container absolute center-xy"></div>
            </div>
        </transition>
        <c-menu ignore-blur
                ref="menu"
                :attached-to="messageContainerElem"
                :expand-direction="Direction.TOP"
                :transition="showPopupMessage ? 'fade' : 'fade-slide-top'"
                class="c-notify__menu-container menu-container z-24"
                @blur="onMenuBlur"
                v-model="showPopupMessage"
                v-if="messageContainerElem">
            <layout column justify-start class="c-notify__notify notify px-3 pt-3 relative elevation-8 r-5"
                :style="injectStyle">
                <layout row align-center class="c-notify__notify-header relative full-width flex-fix">
                    <div class="c-notify__notify-title title relative flex-expand ellipsis">
                        {{popupMessage.title}}
                    </div>
                    <c-btn class="c-notify__close-btn close pa-2 relative flex-fix"
                        @click.native="close(false)"
                        v-if="popupMessage.showClose">
                        <fa-icon icon="times" class="c-notify__close-icon"></fa-icon>
                    </c-btn>
                </layout>
                <div class="c-notify__notify-content content my-3 py-1 relative full-width flex-expand overflow-y-auto" v-html="$options.filters.nl2br(popupMessage.message)">
                </div>
                <layout row align-center
                        :wrap="singleButton"
                        :justify-end="singleButton"
                        class="c-notify__menu-buttons button-wrapper relative full-width flex-fix flex-list-container x-3"
                        :class="(singleButton ? 'c-notify__menu-buttons--single single mb-2' : '') +
                                (!popupMessage.buttons.length ? ' c-notify__menu-buttons--none none' : '')">
                    <c-btn class="c-notify__menu-button button relative"
                           :class="(singleButton ? 'mr-2 py-2 px-3 r-5' : 'py-3 px-1 flex-expand')"
                           :style="button.styles"
                           @click.native="button.cb ? button.cb() : undefined"
                           v-for="(button, i) in popupMessage.buttons"
                           :key="`menu-btn-${i}-${button.label}`">
                        {{button.label}}
                    </c-btn>
                </layout>
            </layout>
        </c-menu>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Ref} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import {PopupMessageConfig, PopupMessage, PopupCancelError} from '@/types/stores/NotifyState';
    import { Direction } from '@/enums/Direction';

    @Component({
        name: 'Notify',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        components: {
            CMenu: () => import('@/components/Menu.vue'),
            CBtn: () => import('@/components/Btn.vue'),
        },
        computed: {
            ...mapState({
                popupMessage: () => StoreManager.notify.popupMessage,
                screenWidth: () => StoreManager.root.screenWidth,
                screenHeight: () => StoreManager.root.screenHeight,
            }),
            ...mapGetters({

            })
        }
    })
    export default class Notify extends Vue {
        Direction: typeof Direction = Direction;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Ref('messageContainer')
        messageContainerElem!: HTMLDivElement;
        @Ref('menu')
        menuVm!: Vue;

        screenWidth!: number;
        screenHeight!: number;
        popupMessage!: PopupMessage;

        set showPopupMessage(val: boolean) {
            if(!val) {
                StoreManager.notify.dismiss();
            }
        }

        get showPopupMessage(): boolean {
            return this.popupMessage.show;
        }

        get singleButton(): boolean {
            return this.popupMessage.buttons.length === 1;
        }

        get injectStyle(): ExtendableObject {
            let maxWidth = this.popupMessage.maxWidth ? Math.min(this.screenWidth * 0.8, this.popupMessage.maxWidth) : undefined;
            let maxHeight = this.popupMessage.maxHeight ? Math.min(this.screenHeight * 0.8, this.popupMessage.maxHeight) : undefined;
            return {
                maxWidth: maxWidth ? `${maxWidth}px` : undefined,
                maxHeight: maxHeight ? `${maxHeight}px` : undefined,
                padding: this.popupMessage.padding ? `${this.popupMessage.padding}px ${this.popupMessage.padding}px 0 ${this.popupMessage.padding}px` : undefined,
            }
        }

        onMenuBlur(e: FocusEvent): void {
            if(this.popupMessage.showClose) {
                this.close(!this.showPopupMessage);
            }
        }

        async close(isForce: boolean) {
            if(!isForce && this.popupMessage.onClose) {
                let dismiss = await this.popupMessage.onClose(isForce);
                if(!dismiss) {
                    if(this.menuVm && (this.menuVm as any).menuElem) {
                        (this.menuVm as any).menuElem.focus();
                    }
                    return;
                }
            }
            this.showPopupMessage = false;
        }

    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin Notify($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .menu-container {
            background-color: transparent;
            overflow: visible;

            :global(.c-menu__content) {
                background-color: transparent;
            }

            .notify {
                background-color: $backMainColor;
                width: 480px;
                max-width: 80vw;
                max-height: 80vh;

                .title {
                    font-size: fontSizeRem('normal');
                    color: $foreMainColor;
                    line-height: 1.2;
                }

                .close-icon {
                    font-size: fontSizeRem('small');
                    color: $foreMainColor;
                    line-height: 1.2;
                }

                .content {
                    font-size: fontSizeRem('small');
                    color: $foreMainColor;
                    line-height: 1.2;
                }

                .button-wrapper {
                    border-top: 1px solid change-color($foreMainColor, $alpha: 0.2);

                    .button {
                        font-size: fontSizeRem('small');
                        color: $foreMainColor;
                        line-height: 1.2;
                        border-right: 1px solid change-color($foreMainColor, $alpha: 0.2);

                        &:last-child {
                            border-right: 0;
                        }
                    }

                    &.single, &.none {
                        border-top: 0;
                    }

                    &.single {

                        .button {
                            border: 1px solid $foreMainColor;
                        }
                    }
                }
            }
        }
    }

    .notify-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include Notify($width);
            }
        }
    }
</style>
