<template>
    <div class="question-list-container relative full-width">
        <layout row align-center class="mb-2">
            <div class="spacer"></div>
            <fa-icon icon="sort" class="text-large"></fa-icon>
            <div class="ml-1 select-menu relative">
                <c-select-input v-model="questionSorting"
                                single-line
                                :options="selectMenuOptions"
                                :error-display-mode="ErrorDisplayMode.HIDE">
                </c-select-input>
            </div>
        </layout>
        <div v-for="(question, i) in questions"
             :key="`question-${i}`"
             class="question-container relative full-width">
            <layout row align-center
                    :wrap="smallScreen"
                    class="question relative full-width">
                <div class="detail relative"
                     :class="smallScreen ? 'full-width' : 'flex-expand ellipsis'">
                    <div class="text-medium">
                        <a :href="question.link"
                           target="_blank"
                           class="d-block relative full-width"
                           :class="smallScreen ? '' : 'ellipsis'">
                            {{question.title}}
                        </a>
                    </div>
                    <layout row align-start justify-space-around class="detail-section relative mt-2 pb-4 full-width">
                        <div class="score relative">
                            <p class="heading text-normal text-sm-center">
                                Score
                            </p>
                            <p class="stat text-normal text-sm-center"
                               :class="question.score < 0 ? 'highlight' : ''">
                                {{question.score}}
                            </p>
                        </div>
                        <div class="answer relative">
                            <p class="heading text-normal text-sm-center">
                                Answers
                            </p>
                            <p class="stat text-normal text-sm-center"
                               :class="{
                                   highlight: question.answer_count > 1,
                                   accepted: question.is_answered
                               }">
                                {{question.answer_count}}
                            </p>
                        </div>
                        <div class="view relative">
                            <p class="heading text-normal text-sm-center">
                                Viewed
                            </p>
                            <p class="stat text-normal text-sm-center">
                                {{question.view_count}}
                            </p>
                        </div>
                    </layout>
                </div>
                <div class="owner-profile relative"
                     :class="smallScreen ? '' : 'ml-2 flex-fix'">
                    <a :href="question.owner.link || '#'" :target="question.owner.link ? '_blank' : '_self'"
                       :class="smallScreen ? 'd-flex flex align-center justify-center' : ''">
                        <div class="profile-img-container relative">
                            <div class="profile-img relative full-width">
                                <div class="absolute full r-full overflow-hidden">
                                    <c-image :src="question.owner.profile_image || ''"
                                            :title="question.owner.display_name"
                                            :container-type="ContainerType.IMAGE"
                                            :container-mode="ContainerType.COVER"></c-image>
                                </div>
                            </div>
                        </div>
                        <div class="profile-name relative"
                             :class="smallScreen ? 'ml-2 ' : 'mt-2 full-width'">
                            <p class="text-normal text-sm-center">
                                {{question.owner.display_name}}
                            </p>
                        </div>
                    </a>
                </div>
            </layout>
            <div class="divider relative my-2 full-width"
                 v-if="i < questions.length - 1"></div>
        </div>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Watch} from 'vue-property-decorator';
    import {mapGetters, mapState, Store} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import { IQuestion, QuestionSorting } from '@/types/stores/StackOverflowListingState';
    import { ContainerType, ContainerMode } from '@/types/components/Image';
    import {ErrorDisplayMode} from '@/types/components/Input';

    @Component({
        name: 'QuestionList',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        computed: {
            ...mapState({
                questionCurrentSorting: () => StoreManager.stackOverflowListing.questionCurrentSorting,
                selectedTag: () => StoreManager.stackOverflowListing.selectedTag,
                questions: () => StoreManager.stackOverflowListing.questions,
                screenWidth: () => StoreManager.root.screenWidth,
            }),
            ...mapGetters({

            }),
        },
        components: {
            CImage: () => import('@/components/Image.vue'),
            CSelectInput: () => import('@/components/SelectInput.vue'),
        }
    })
    export default class QuestionList extends Vue {

        ContainerType: typeof ContainerType = ContainerType;
        ContainerMode: typeof ContainerMode = ContainerMode;
        ErrorDisplayMode: typeof ErrorDisplayMode = ErrorDisplayMode;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;

        questionCurrentSorting!: QuestionSorting;
        selectedTag!: string;
        questions!: IQuestion[];
        screenWidth!: number;

        selectMenuOptions: {label: string, value: string}[] = Object.values(QuestionSorting).map(s => {
            return {
                label: s,
                value: s
            }
        });

        get smallScreen(): boolean {
            const screenWidth = this.screenWidth;
            return screenWidth < this.$style.mediumMinWidth;
        }

        get questionSorting(): QuestionSorting {
            return this.questionCurrentSorting;
        }

        set questionSorting(val: QuestionSorting) {
            StoreManager.stackOverflowListing.setQuestionCurrentSorting(val);
        }

        fetchQuestions() {
            StoreManager.stackOverflowListing.setQuestionHasMore(true);
            StoreManager.stackOverflowListing.setQuestions([]);
            StoreManager.stackOverflowListing.setQuestionCurrentPage(0);
            StoreManager.stackOverflowListing.fetchQuestions();
        }

        @Watch('selectedTag')
        onSelectedTagUpdate(newValue: string): void {
            if(newValue) {
                this.fetchQuestions();
            }
        }

        @Watch('questionCurrentSorting')
        onQuestionCurrentSortingUpdate(newValue: string): void {
            this.fetchQuestions();
        }
    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    :export {
        mediumMinWidth: map-get($grids, 'md');
        largeMinWidth: map-get($grids, 'lg');
    }

    @mixin QuestionList($mediaW) {

        $ownerProfileWidthValue: 120px;
        $ownerProfileImageWidthValue: 100%;

        @if $mediaW < map-get($grids, 'lg') {
            $ownerProfileWidthValue: 80px;
        }

        @if $mediaW < map-get($grids, 'md') {
            $ownerProfileWidthValue: 100%;
            $ownerProfileImageWidthValue: 60px;
        }

        .select-menu {
            width: 150px;

            .c-select-input__label {
                display: none;
            }
        }

        .question-container {

            .question {

                a {
                    color: $foreMainColor;
                }

                .detail {

                    .detail-section {

                        .heading {
                            color: red;
                        }

                        .score {

                            .stat.highlight {
                                color: red;
                            }
                        }

                        .answer {

                            .stat.highlight {
                                border: 1px solid green;
                                color: green;

                                &.accepted {
                                    background: green;
                                    color: white;
                                }
                            }
                        }
                    }
                }

                .owner-profile {
                    width: $ownerProfileWidthValue;

                    .profile-img-container {
                        width: $ownerProfileImageWidthValue;

                        .profile-img {
                            height: 0;
                            padding-top: 100%;
                        }
                    }
                }
            }

            .divider {
                height: 1px;
                background-color: $borderColor;
            }
        }
    }

    .question-list-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include QuestionList($width);
            }
        }
    }
</style>
