<template>
    <div class="search-bar-container relative full-width">
        <layout row align-center class="search-bar relative full-width r-8 overflow-hidden">
            <div class="input relative flex-expand">
                <c-input :line="1"
                        :type="InputType.TEXT"
                        :counter="0"
                        :error-display-mode="ErrorDisplayMode.HIDE"
                        placeholder="Tag"
                        v-model="model"
                        class="flex-expand"
                        @input="onInputUpdate"
                        @keyup.enter.native="search">
                </c-input>
            </div>
            <c-btn class="search-btn px-2 py-1 relative flex-fix" @click.native="search">
                Search
            </c-btn>
        </layout>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop} from 'vue-property-decorator';
    import {mapGetters, mapState, Store} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import {InputType, ErrorDisplayMode} from '@/types/components/Input';

    @Component({
        name: 'SearchBar',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        computed: {
            ...mapState({
                fetching: () => StoreManager.stackOverflowListing.fetching,
                tagKeyword: () => StoreManager.stackOverflowListing.tagKeyword,
            }),
            ...mapGetters({

            })
        },
        components: {
            CInput: () => import('@/components/Input.vue'),
            CBtn: () => import('@/components/Btn.vue'),
        }
    })
    export default class SearchBar extends Vue {

        InputType: typeof InputType = InputType;
        ErrorDisplayMode: typeof ErrorDisplayMode = ErrorDisplayMode;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;

        tagKeyword!: string;
        fetching!: boolean;

        debounceTimeout: number = -1;

        get model(): string {
            return this.tagKeyword
        }

        set model(val: string) {
            StoreManager.stackOverflowListing.setTagKeyword(val);
        }

        async search() {
            window.clearTimeout(this.debounceTimeout);
            await StoreManager.stackOverflowListing.fetchTrendingTags();
        }

        onInputUpdate(e) {
            if(this.fetching) return;
            window.clearTimeout(this.debounceTimeout);
            this.debounceTimeout = window.setTimeout(() => {
                this.search();
            }, 1000);
        }
    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin SearchBar($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .search-bar {
            border: 2px solid $foreSecondaryColor;

            .input {

                input {
                    background: transparent;
                }

                .c-input__hint {
                    display: none;
                }
            }

            .search-btn {
                background-color: $foreSecondaryColor;
                border: 2px solid $foreSecondaryColor;
            }
        }
    }

    .search-bar-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include SearchBar($width);
            }
        }
    }
</style>
