<template>
    <div class="c-select-input select-input-container relative full-width"
         :class="(errorMessages.length ? 'c-select-input--error error' : '') +
                 (focus || showOption ? ' c-select-input--active active' : '') +
                 (disabled ? ' c-select-input--disabled disabled' : '')">
        <layout row :wrap="!singleLine" align-center class="relative full-width">
            <div class="c-select-input__label input-label related"
                 :class="singleLine ? 'mr-3 flex-fix' : 'mb-1 full-width'">
                {{label}}
            </div>
            <div ref="selection"
                 tabindex="0"
                 class="c-select-input__selection relative"
                 :class="singleLine ? 'flex-expand' : 'full-width'"
                 @focus="onSelectionFocus"
                 @blur="onSelectionBlur"
                 @keyup.enter="onMenuEnter">
                <div class="c-select-input__selected relative"
                     :class="disabled ? '' : 'pointer'"
                    @click="showOption = !disabled">
                    <slot name="selected" :selected-options="selectedOptions" :value="model" :label="selectedLabel">
                        <layout row align-center class="c-select-input__selected-layout select-container pa-1 relative full-width r-3">
                            <div class="c-select-input__selected-label selected flex-expand">
                                {{selectedLabel.join(', ')}}
                            </div>
                            <div class="ml-2 flex-fix">
                                <fa-icon icon="chevron-circle-down" class="c-select-input__dropdown-icon dropdown-icon transition-normal"></fa-icon>
                            </div>
                        </layout>
                    </slot>
                </div>
                <div ref="selected" class="relative full-width">
                    <c-menu align-width
                            attach
                            :attached-to="selectedElem"
                            transition="full-slide-top"
                            v-model="showOption"
                            @keyup="onMenuKeyup"
                            v-if="selectedElem">
                        <ul class="c-select-input__options options-menu pa-1 relative full-width r-3">
                            <li class="c-select-input__option-wrapper pointer"
                                @click="select(option)"
                                v-for="(option, i) in options"
                                :key="`option-${i}`">
                                <slot name="option" :option="option" :selected-options="selectedOptions" :value="model" :label="selectedLabel">
                                    <layout ref="options"
                                            row align-center
                                            class="c-select-input__option option relative full-width"
                                            :class="(focusedIndex === i ? ' c-select-input__option--active active' : '') +
                                                    ((model instanceof Array && model.includes(option.value) || model === option.value) ? ' c-select-input__option--checked option-checked' : '')">
                                        <div class="c-select-input__option-checkbox checked mr-2 relative flex-fix transition-normal opacity-0">
                                            <fa-icon icon="check" class="c-select-input__option-check-icon checked-icon transition-normal"></fa-icon>
                                        </div>
                                        <div class="c-select-input__option-label label relative flex-expand transition-normal">
                                            {{option.label}}
                                        </div>
                                    </layout>
                                </slot>
                            </li>
                        </ul>
                    </c-menu>
                </div>
                <transition name="fade-slide-top">
                    <div class="c-select-input__error-messages error-message-hint mt-1 relative flex-expand"
                        :class="errorDisplayMode === ErrorDisplayMode.SINGLE_MENU && errorMessages.length > 1 ? 'pointer' : ''"
                        @click="onErrorMessageClick"
                        v-if="errorMessageHtml"
                        v-html="errorMessageHtml">
                    </div>
                </transition>
                <div ref="errorMessageMenuContainer"
                    class="error-message-menu-container relative">
                    <c-menu :attached-to="errorMessageMenuContainer"
                            :offset-y="10"
                            :expand-direction="Direction.RIGHT"
                            transition="fade-slide-top"
                            v-model="showErrorMenu"
                            v-if="errorMessageMenuContainer">
                        <ul class="c-select-input__error-message-menu error-menu pa-1 relative r-3">
                            <li class="c-select-input__error-message error"
                                v-for="(msg, i) in errorMessages"
                                :key="`err-msg-${i}`">
                                {{msg}}
                            </li>
                        </ul>
                    </c-menu>
                </div>
            </div>
        </layout>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Watch, Ref} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import {SelectOption} from '@/types/components/SelectInput';
    import {ErrorDisplayMode} from '@/types/components/Input';
    import { Direction } from '@/enums/Direction';
    import ValidationRule from '@/types/ValidationRule';
    import IsString from '@/typeguards/IsString';
    import { Key } from 'ts-key-enum';

    @Component({
        name: 'SelectInput',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        components: {
            CMenu: () => import('@/components/Menu.vue'),
        },
        computed: {
            ...mapState({

            }),
            ...mapGetters({

            })
        }
    })
    export default class SelectInput extends Vue {

        ErrorDisplayMode: typeof ErrorDisplayMode = ErrorDisplayMode;
        Direction: typeof Direction = Direction;

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;
        @Prop({type: [String, Array], default: () => ''})
        readonly value!: string | string[];
        @Prop({type: Array, default: () => [{label: '', value: ''}]})
        readonly options!: SelectOption[];
        @Prop({type: String, default: () => ''})
        readonly label!: string;
        @Prop({type: Array, default: () => []})
        readonly rules!: ValidationRule[];
        @Prop({type: Boolean, default: () => false})
        readonly singleLine!: boolean;
        @Prop({type: Boolean, default: () => false})
        readonly multiple!: boolean;
        @Prop({type: Number, default: () => 0})
        readonly max!: number;
        @Prop({type: Boolean, default: () => false})
        readonly disabled!: boolean;
        @Prop({type: Boolean, default: () => false})
        readonly manualClose!: boolean;
        @Prop({type: String, default: () => ErrorDisplayMode.SINGLE_MENU})
        readonly errorDisplayMode!: ErrorDisplayMode;
        @Ref('selected')
        readonly selectedElem!: HTMLDivElement;
        @Ref('errorMessageMenuContainer')
        readonly errorMessageMenuContainer?: HTMLDivElement;
        @Ref('selection')
        readonly selectionElem!: HTMLDivElement;

        model: string | string[] = '';
        showOption: boolean = false;
        showErrorMenu: boolean = false;
        errorMessages: string[] = [];
        validatable: boolean = true;
        focus: boolean = false;
        focusedIndex: number | null = null;

        get selectedOptions(): SelectOption[] {
            let model = this.model,
                options = this.options,
                multiple = this.multiple;
            return options.filter(op => {
                if(multiple)
                    return model.includes(op.value);
                return model === op.value;
            })
        }

        get selectedLabel(): string[] {
            return this.selectedOptions.map(op => op.label);
        }

        get selectedIndexes(): number[] {
            let selectedOptions = this.selectedOptions,
                options = this.options;
            if(!selectedOptions.length) return [];
            return options.map((opt: SelectOption, i: number) => selectedOptions.includes(opt) ? i : -1).filter((i) => i !== -1);
        }

        get errorMessageHtml() {
            let errorDisplayMode = this.errorDisplayMode;
            let errorMessages = this.errorMessages;
            switch(errorDisplayMode) {
                case ErrorDisplayMode.HIDE:
                    return '';
                case ErrorDisplayMode.SINGLE_MENU:
                    if(this.$options.filters) {
                        return this.$options.filters.nl2br(errorMessages.slice(0, 1)) + (errorMessages.length - 1 > 0 ? ` (+${errorMessages.length - 1} ${this.$t('problem')})` : '');
                    }
                case ErrorDisplayMode.ALL:
                    if(this.$options.filters) {
                        return this.$options.filters.nl2br(errorMessages.join('\n'));
                    }
                default:
                    return '';
            }
        }

        select(option: SelectOption): void {
            if(this.multiple) {
                let index = this.model.indexOf(option.value)
                if(index >= 0) {
                    (this.model as string[]).splice(index, 1);
                }else{
                    if(this.max && this.selectedOptions.length >= this.max) {
                        this.$emit('selectOverLimit', option);
                        return;
                    }
                    (this.model as string[]).push(option.value);
                }
            }else{
                this.model = option.value;
            }
            if(this.manualClose || this.multiple) return;
            this.showOption = false;
        }

        validate(): boolean {
            this.errorMessages = this.rules.map(r => r(this.model)).filter<string>(IsString);
            let hasError = this.errorMessages.length;
            if(hasError) {
                this.$emit('error', this.errorMessages);
            }
            return !hasError;
        }

        updateModel(): void {
            let value = this.value;
            if(this.multiple) {
                if(value instanceof Array) {
                    this.model = value;
                }else{
                    this.model = [];
                }
            }else{
                if(value instanceof Array) {
                    this.model = value[0] || '';
                }else{
                    this.model = value;
                }
            }
        }

        onMenuEnter(): void {
            if(!this.disabled) {
                this.showOption = true;
                let index = 0;
                if(this.selectedIndexes.length) {
                    index = this.selectedIndexes[0];
                }
                this.focusedIndex = index;
            }
        }

        onMenuKeyup(event: KeyboardEvent): void {
            if(this.focusedIndex !== null) {
                switch(event.key) {
                    case Key.ArrowUp:
                        if(this.focusedIndex)
                            this.focusedIndex--;
                        else
                            this.focusedIndex = this.options.length - 1;
                        break;
                    case Key.ArrowDown:
                        if(this.focusedIndex < this.options.length - 1)
                            this.focusedIndex++;
                        else
                            this.focusedIndex = 0;
                        break;
                    case Key.Enter:
                        if(this.options[this.focusedIndex]) {
                            this.select(this.options[this.focusedIndex]);
                        }
                        break;
                    case Key.Escape:
                        this.showOption = false;
                        this.$nextTick(() => {
                            if(this.selectionElem) {
                                this.selectionElem.focus();
                            }
                        })
                        break;
                }
            }
        }

        onSelectionFocus(): void {
            this.focus = true;
        }

        onSelectionBlur(): void {
            this.focus = false;
        }

        onErrorMessageClick(): void {
            if(this.errorDisplayMode !== ErrorDisplayMode.SINGLE_MENU || this.errorMessages.length <= 1) return;
            this.showErrorMenu = true;
        }

        @Watch('value')
        onValueUpdate() {
            this.updateModel();
        }

        @Watch('model')
        onModelUpdate(val: any) {
            this.$emit('input', val);
        }

        @Watch('showOption')
        onShowOptionUpdate(val: boolean) {
            if(!val) {
                this.focusedIndex = null;
                this.validate();
            }
        }

        mounted() {
            this.updateModel();
            this.$nextTick(() => this.$forceUpdate())
        }
    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin SelectInput($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .input-label {
            font-size: fontSizeRem('normal');
            line-height: 1.2;
            color: $foreMainColor;
        }

        .select-container {
            border: 1px solid $foreMainColor;

            .selected {
                font-size: fontSizeRem('normal');
                line-height: 1.2;
                color: $foreMainColor;
            }

            .dropdown-icon {
                font-size: fontSizeRem('normal');
                line-height: 1.2;
                color: $foreMainColor;
            }
        }

        .options-menu  {
            border: 1px solid $foreMainColor;

            .option {

                .label {
                    font-size: fontSizeRem('normal');
                    line-height: 1.2;
                    color: $foreMainColor;
                }

                .checked-icon {
                    font-size: fontSizeRem('small');
                    line-height: 1.2;
                    color: $foreMainColor;
                }

                &:hover, &.active {
                    .label, .checked-icon {
                        color: $foreSecondaryColor;
                    }
                }

                &.option-checked {

                    .checked {
                        opacity: 1;
                    }
                }
            }
        }

        .error-message-hint {
            font-size: fontSizeRem('small');
            line-height: 1.2;
            color: $errorColor;
        }

        .error-message-menu-container {
            width: 1px;

            .error-menu {
                border: 1px solid $errorColor;
                font-size: fontSizeRem('small');
                line-height: 1.2;
                color: $errorColor;
            }
        }

        &.error {

            .input-label {
                color: $errorColor;
            }

            .select-container {
                border-color: $errorColor;
            }
        }

        &.disabled {

            .select-container {
                cursor: not-allowed;
            }
        }

        &.active {

            .select-container {

                .dropdown-icon {
                    color: $foreSecondaryColor;
                }
            }
        }
    }

    .select-input-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include SelectInput($width);
            }
        }
    }
</style>
