<template>
    <div class="trending-tags-container relative full-width">
        <p class="heading text-large">Trending</p>
        <layout row align-center wrap class="tags relative mt-2 full-width">
            <div v-for="(tag, i) in trendingTags"
                 :key="`tag-${i}`"
                 class="tag relative mr-2 mb-2 py-2 px-1 pointer text-normal r-8 transition-normal"
                 :class="tag.name === selectedTag ? 'selected' : ''"
                 @click="onTagClicked(tag.name)">
                {{tag.name}}
            </div>
        </layout>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop} from 'vue-property-decorator';
    import {mapGetters, mapState} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';
    import { ITag } from '@/types/stores/StackOverflowListingState';

    @Component({
        name: 'TrendingTags',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        computed: {
            ...mapState({
                trendingTags: () => StoreManager.stackOverflowListing.trendingTags,
                selectedTag: () => StoreManager.stackOverflowListing.selectedTag,
            }),
            ...mapGetters({

            })
        }
    })
    export default class TrendingTags extends Vue {

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;

        trendingTags!: ITag[];
        selectedTag!: string;

        onTagClicked(name: string): void {
            StoreManager.stackOverflowListing.setSelectedTag(name);
        }
    }
</script>

<style module lang="scss">
    @import '../assets/scss/common';

    @mixin TrendingTags($mediaW) {

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        .heading {
            color: $foreMainColor;
        }

        .tags {

            .tag {
                display: inline-block;
                color: $foreMainColor;
                border: 2px solid $foreSecondaryColor;

                &.selected {
                    background-color: $foreSecondaryColor;
                }
            }
        }
    }

    .trending-tags-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include TrendingTags($width);
            }
        }
    }
</style>
