<template>
    <div ref="container" class="index-container relative full-width overflow-y-auto" v-scroll:debounce="{fn: onScroll, debounce: 500 }">
        <!-- header part -->
        <div class="header fixed top left full-width z-2">
            <c-search-bar class="search-bar absolute center-xy px-2 full-width"></c-search-bar>
        </div>
        <!-- main part -->
        <div class="main relative full-width mx-auto px-2 pb-5">
            <c-trending-tags></c-trending-tags>
            <c-question-list class="mt-2"></c-question-list>
        </div>
        <!-- global components -->
        <c-loading fixed :value="fetching"></c-loading>
        <c-notify></c-notify>
    </div>
</template>

<script lang="ts">
    import CSSModules from 'vue-css-modules';
    import {Vue, Component, Prop, Ref} from 'vue-property-decorator';
    import {mapGetters, mapState, Store} from 'vuex';
    import {StoreManager} from '@/plugins/StoreManager';
    import {MainStyle} from '@/lib/MainStyleLoader.js';

    @Component({
        name: 'Index',
        mixins: [CSSModules({injectAttr: 'class', mergeDefault: true, styles: MainStyle})],
        components: {
            CLoading: () => import('@/components/Loading.vue'),
            CNotify: () => import('@/components/Notify.vue'),
            CSearchBar: () => import('@/components/SearchBar.vue'),
            CTrendingTags: () => import('@/components/TrendingTags.vue'),
            CQuestionList: () => import('@/components/QuestionList.vue'),
        },
        computed: {
            ...mapState({
                fetching: () => StoreManager.stackOverflowListing.fetching,
                questionHasMore: () => StoreManager.stackOverflowListing.questionHasMore,
            }),
            ...mapGetters({

            })
        }
    })
    export default class Index extends Vue {

        // @Prop({type: String, required: true})
        // readonly stringProp!: string;

        @Ref('container')
        containerElem!: HTMLDivElement;

        fetching!: boolean;
        questionHasMore!: boolean;

        loaded: boolean = false;

        onScroll() {
            if(this.fetching || !this.questionHasMore) return;
            if(this.containerElem.scrollTop + this.containerElem.clientHeight >= this.containerElem.scrollHeight - 100) {
                StoreManager.stackOverflowListing.fetchQuestions();
            }
        }

        mounted() {

            setTimeout(() => {
                this.loaded = true;
                document.body.style.backgroundColor = this.$style.backMainColor;

                StoreManager.root.setScreenSize({
                    width: document.body.clientWidth,
                    height: document.body.clientHeight,
                })
            }, 500);

            StoreManager.root.setScreenSize({
                width: document.body.clientWidth,
                height: document.body.clientHeight,
            })
            window.onresize = () => {
                window.clearTimeout(window.resizeTimeout);
                window.resizeTimeout = window.setTimeout(() => {
                    StoreManager.root.setScreenSize({
                        width: document.body.clientWidth,
                        height: document.body.clientHeight,
                    })
                }, 30);
            };

            StoreManager.stackOverflowListing.fetchTrendingTags();
        }
    }
</script>

<style module lang="scss">
    @import './assets/scss/common';

    :export {
        backMainColor: $backMainColor;
    }

    @mixin Index($mediaW) {

        $headerHeight: 100;

        @if $mediaW < map-get($grids, 'lg') {

        }

        @if $mediaW < map-get($grids, 'md') {

        }

        min-height: 100vh;
        max-height: 100vh;

        &.loaded {
            background-color: $backMainColor;
        }

        .header {
            height: #{$headerHeight}px;
            background-color: $backMainColor;

            .search-bar {
                max-width: #{$contentMaxWidth}px;
            }
        }

        .main {
            padding-top: #{$headerHeight}px;
            max-width: #{$contentMaxWidth}px;
        }
    }

    .index-container {
        @each $size, $width in $grids {
            @media only screen and (min-width: #{$width}px) {
                @include Index($width);
            }
        }
    }
</style>
